[Unit]
Description=hid:ergo daemon
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/bpservicem

[Install]
WantedBy=multi-user.target